* {
    font-size: 15px;
    font-family: Hack;
    background: #1d2021;
}

window#waybar {
    color: #ebdbb2;
}

#workspaces button {
    padding: 0 6px;
    color: #ebdbb2;
    border: none;
}
#workspaces button.focused {
    color: #fe8019;
}
#workspaces button:hover {
    box-shadow: none;
    text-shadow: none;
}
#workspaces button.urgent {
    color: #cc241d;
}

#network.wifi, #network.ethernet {
    color: #98971a;
}
#network.disabled {
    color: #cc241d;
}
#network.disconnected {
    color: #d79921;
}

#pulseaudio.muted {
    color: #d79921;
}
#pulseaudio.bluetooth {
    color: #458588;
}

#battery.good {
    color: #98971a;
}
#battery.warning {
    color: #d79921;
}
#battery.critical {
    color: #cc241d;
}
#battery.charging {
    color: #83a598;
}

#network,
#pulseaudio,
#backlight,
#battery {
    margin: .7ex 0 .7ex 0;
    padding: 0 1ex 0 1ex;
}

#network,
#pulseaudio,
#backlight {
    border-right: 1px solid #bdae93;
}

#window {
    padding: 0 100px;
}
